@import url("/home.css");

.section-signup {
  justify-content: space-around;
  margin: 7rem auto;
}
.home-image {
  height: 70vh;
}
.form-container {
  height: 60vh;
  padding: 1rem 2rem;
  border: 1px solid lightgrey;
  background-color: var(--txt-white);
  justify-content: space-between;
}

.btn {
  width: 100%;
}
.input-box {
  margin: 1.3rem 0;
}
.link {
  border-bottom: 1px solid var(--theme-color);
}
.txt-input {
  padding: 0.6rem;
  width: 20rem;
}
.title {
  margin: unset;
  line-height: 3rem;
}
